html{
	background-color: black;
}

p{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	font-size: 25px;
	font-family: "Anton", sans-serif;
}

h3{
	font-size: 40px;
	Background-color: white;
	border-radius: 5px;
	font-family: "Permanent Marker", cursive;
}

h2{
	Background-color: white;
	border-radius: 5px;
	padding-left: 10px;
}

h1{
	font-size: 60px;
	Background-color: white;
	border-radius: 5px;
	font-family: "Permanent Marker", cursive;
}

.grid-container{
	display: grid;
	grid-template-columns: auto 200px 353px;
	grid-template-rows: auto 50px auto 50px;
	height: 200px;
	background-color: black;
	
}

.header{
	grid-column-start: 1;
	grid-column-end: span 2;
	grid-row-start: 1;
	border-radius: 15px;
	background-color: Red;
	background-image: url("../images/College Drone Shot.jpg");
	background-size: cover;
	border: solid black 2px;
	padding-left: 50px;
}

.nav{
	padding-left: 10px;
	padding-top: 10px;
	grid-row-start: 2;
	grid-column-start: 1;
	border: solid black 2px;
	background-color: #0047CE;
	border-radius: 15px;
}

a{
	font-family: "Anton", sans-serif;
	text-decoration: none;
	font-size: 25px;
	Background-color: White;
	border-radius: 5px;
	padding-left: 3px;
	padding-right: 3px;
}
	a:link {color: Purple;} /* unvisited link */
	a:visited {color: Black;} /* visited link */
	a:hover {color: white; background-color: Black;} /* mouse over link */

.scroll-area{
	grid-row-start: 3;
	grid-column-start: 1;
	padding-left: 25px;
	padding-right: 25px;
	color: Black;
	background-color: #0047CE;
	border-radius: 15px;
	border: solid black 2px;
}

.logo{
	padding-top: 35px;
	grid-row-start: 1;
	grid-column-start: 3;
	border-radius: 15px;
	border: solid black 2px;
	background-color: White;
	background-size: cover;	
}

.footer{
	padding-left: 10px;
	padding-top: 10px;
	background-color: #0047CE;
	grid-column-start: 1;
	grid-row-start: 4;
	color: black;
	border-radius: 15px;
	border: solid black 2px;
}

.photo{
	grid-row-start: 2;
	grid-row-end: span 3;
	grid-column-start: span 2;
	background-color: #0047CE;
	border-radius: 15px;
	border: solid black 2px;
	overflow: hidden;
}

.images{
	max-height: 1000px;
	width: 2200px;  /* adjustment to show each image on carousel. */
    overflow: hidden;  /* overflow hides next image. */
}
.images img{
	display: cover;
    transition: all 0.20s ease;  /* timing transition to show next image. */
	border-radius: 13px;
	height: 1000px;
}
.images input{
    display: none;  /* display none hides the 3 images behind 1st image. */
}
.dots{
    display: flex;
    margin: 5px;
}
.dots label{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid Black 5px;
    cursor: pointer;
    transition: all 0.30s ease;  /* timing transition to show next image. */
    margin: 10px;
}

.dots label:hover {background: black;}

#img1:checked ~ .m1{  /* ~ (tilde) is a selector used to select each "m" element following checked. */
    margin-left: 0%;
}
#img2:checked ~ .m2{
    margin-left: -25.16%;
}
#img3:checked ~ .m3{
    margin-left: -50.35%;  /* margin-left value moves each image to the Left. */
}
#img4:checked ~ .m4{
    margin-left: -75.52%;
}

/* CSS for styling Back to top button. */

#myBtn{
	display: none;
	position: fixed;
	bottom: 2px; 
	right: 10px;
	z-index: 99; /* z-index brings the element (button) to the front. */
	border: none;
	outline: none;
	Background-color: Yellow;
	color: Black;
	cursor: pointer;
	padding: 15px;
	border-radius: 15px;
	Font-size: 40px;
}

#myBtn:hover{
	cursor: pointer;
	background-color: Green; /* Calling up my Variable Color to be used. */
}
